.card{

    border: 2px solid #333;
    padding: 20px;
    margin-bottom: 20px;
    max-width: 300px;
}

.card__title {
    color: #333;
    margin-bottom: 50px;
}

.card__price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}